{{#each this}}
<li class='events-list-item'>
  <div class="photo-card">
    <img class='events-img' src="https://www.imgonline.com.ua/examples/bee-on-daisy.jpg" alt="ромашка" />

    <div class="information">
      <p class="group-mame"> Монатик </p>
      <p class="date">21-12-2021 </p>
      <p class="concert-venue"> ВДНХ</p>
    </div>
  </div>
</li>
{{/each}}
