body {
  position: relative;
  font-family: $primary-font;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 85px;
    padding-right: 73px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 173px;
    padding-right: 161px;
  }
}
