$primary-text-color: #ffffff;
$title-color: #dc56c5;
$accent-color: #4c00fe;
$background-color: #0e0e0e;
$border-card-color: rgba(220, 86, 197, 0.3);
$text-footer-color: #939393;
$border-background-color: #212121;
$input-background-color: rgba(255, 255, 255, 0.2);
$hero-background-overlay: rgba(11, 11, 11, 0.5);

$primary-font: Montserrat, sans-serif;
