<div class="background__rectangle">
    <div class="background__circle__big circle__middle__left">
        <div class="background__circle__little"></div>
    </div>
    <div class="background__circle__big circle__middle__right">
        <div class="background__circle__little"></div>
    </div>
    <div class="background__circle__big circle__lower">
        <div class="background__circle__little little__circle__lower"></div>
    </div>

    <div class="background__square__rounded square__top__right"></div>
    <div class="background__square__rounded square__bottom__right"></div>
    <div class="background__square__rounded square__bottom__left"></div>
</div>