<div class="container">
  <ul class="event-card-set">
    <!-- <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                        <p class="event-card-date">2021-05-13</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">Palace of Ukraine</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li>

        <li class="event-item">
            <article class="event-card">
                <div class="event-block"></div>
                <div class="event-card-thumb">
                    <img class="event-img">
                    <div class="event-card-content">
                        <h2 class="event-card-heading">Atlas Weekend</h2>
                        <p class="event-card-date">2021-06-09</p>
                        <div class="event-card-locate">
                            <p class="event-locate-text">VDNH</p>
                        </div>
                    </div>
                </div>
            </article>
        </li> -->
  </ul>
</div>
<!-- <li class="item">
    <article class="card">
        <div class="card-thumb">
            <img src="" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-heading">Test 1</h2>
            <p class="card-text">Lorem ipsum</p>
        </div>
    </article>
</li> -->

<!-- <li class="event-item">
    <article class="event-card">
        <div class="event-card-thumb">
            <div class="event-outline"></div>
            <div class="event-block">
                <img src="" alt="images" class="event-card-image">
                <h2 class="event-card-heading">Eurovision 2021 finals!</h2>
                <p class="event-card-date">2021-05-13</p>
                <p class="event-card-location">Palace of Ukraine</p>
            </div>
        </div>
         <div class="card-content">
        </div>
    </article>
</li>  -->
