<section class="hero">
  <div class="overlay">
    <div class="container">
      <h1 class="hero-title">find best events around the world</h1>

      <form class="hero-form">
        <div class="hero-fieldset">
          <div class="hero-form-field-container">
            <input class="hero-form-field" type="text" placeholder="Start searching" name="query" />
            <svg class="hero-icon" width="12px" height="12px">
              <use href="./images/hero-sprite.svg#search-icon"></use>
            </svg>
          </div>

          <div class="hero-form-field-container">
            <select class="hero-form-field select" name="country" id="hero-select">
              <option value="" disabled selected hidden>Choose country</option>
            </select>
            <svg class="hero-icon choices-icon" width="15px" height="10px">
              <use href="./images/hero-sprite.svg#polygon"></use>
            </svg>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
