<section class="hero">
  <div class="overlay">
    <div class="container">
      <h1 class="hero-title">find best events around the world</h1>

      <form class="hero-form">
        <div class="hero-fieldset">
          <input class="hero-form-field" type="text" placeholder="Start searching" name="query" />

          <select class="hero-form-field select" name="country" size="1">
            <!-- Страны должны прилетать сюда по шаблону. -->
            <option value="v1">Choose country</option>
            <!-- Пример -->
            <option value="v2">USA</option>
            <option value="v3">UK</option>
            <option value="v4">UA</option>
            <option value="v5">RUS</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</section>
