.events {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 70px;
    width: 946px;
    top: 387px;
    margin: auto;
  }
}
.information {
  @media screen and (min-width: 1280px) {
    display: block;
    position: relative;
    z-index: 1;
  }
}
.information:after {
  @media screen and (min-width: 1280px) {
    display: inline-block;
    content: '';
    width: 153px;
    height: 143px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    box-sizing: border-box;
    border-radius: 50px 0px;
    position: absolute;
    z-index: -1;
    margin-left: 40px;
    margin-top: -310px;
  }
}

.photo-card {
  @media screen and (min-width: 1280px) {
    padding-bottom: 63px;
    position: relative;
    z-index: 1;
  }
}

.events-img {
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 227px;
    left: 175px;
    top: 400px;
    z-index: 1;
    border-radius: 50px 0px;
  }
}
.group-name {
  @media screen and (min-width: 1280px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #dc56c5;
  }
}
.date {
  @media screen and (min-width: 1280px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
  }
}

.concert-venue {
  @media screen and (min-width: 1280px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;

    color: #ffffff;
  }
}

.events {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 70px;
    width: 768px;
    height: 364px;
    left: 0px;
    top: 0px;
    margin: auto;
  }
}
.information {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
    position: relative;
    z-index: 1;
  }
}
.information:after {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: inline-block;
    content: '';
    width: 153px;
    height: 143px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    box-sizing: border-box;
    border-radius: 50px 0px;
    position: absolute;
    z-index: -1;
    margin-left: 40px;
    margin-top: 40px;
  }
}
.photo-card {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 58px;
  }
}
.events-img {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 180px;
    height: 227px;
    left: 501px;
    top: 317px;
    border-radius: 50px 0px;
  }
}
.group-name {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #dc56c5;
  }
}
.date {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;

    color: #ffffff;
  }
}

.concert-venue {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
  }
}

.events {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    left: 25px;
    top: 304px;
    margin: auto;
  }
}
.information {
  @media screen and (max-width: 767px) {
    display: block;
    position: relative;
    z-index: 1;
  }
}
.information:after {
  @media screen and (max-width: 767px) {
    display: inline-block;
    content: '';
    width: 108px;
    height: 101px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    box-sizing: border-box;
    border-radius: 50px 0px;
    position: absolute;
    z-index: -1;
    margin-left: 30px;
    margin-top: 30px;
  }
}
.photo-card {
  @media screen and (max-width: 767px) {
    padding-bottom: 39px;
  }
}
.events-img {
  @media screen and (max-width: 767px) {
    // position: absolute;
    width: 128px;
    height: 161px;
    left: 25px;
    top: 2706px;

    border-radius: 50px 0px;
  }
}
.group-name {
  @media screen and (max-width: 767px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #dc56c5;
  }
}
.date {
  @media screen and (max-width: 767px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
  }
}

.concert-venue {
  @media screen and (max-width: 767px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
  }
}
