.event-card-list {
  @media screen and (min-width: 1280px) {
      // margin-right: 70px;
      margin-bottom: 63px;
      flex-basis: calc(100% / 4);
    &:nth-child(4n) {
        margin-right: 0px;
              };
    &:nth-child(n + 17) {
      margin-bottom: 0px;
    }
      }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    //  margin-right: 27px;
    flex-basis: calc(100% / 3);
     margin-bottom: 58px;
    &:nth-child(3n) {
        margin-right: 0px;
      };
      &:nth-child(n + 19) {
      margin-bottom: 0px;
    }
     }
  @media screen and (max-width: 767px) {
        // margin-right: 14px;
        flex-basis: calc(100% / 2);
        margin-bottom: 29px;
       &:nth-child(2n) {
        margin-right: 0px;
      }
      &:nth-child(n + 19) {
      margin-bottom: 0px;
    };
  }
}
.event-card-information {
  @media screen and (min-width: 1280px) {
    display: block;
    width: 180px;
  }
}
.event-card-photo {
  position: relative;
  z-index: 1;
}
.event-card-photo::before {
  display: inline-block;
  content: '';
  border: 1px solid $border-card-color;
  box-sizing: border-box;
  border-radius: 50px 0px;
  position: absolute;
  // z-index: -1;
  z-index: 2;
  @media screen and (min-width: 1280px) {
    width: 153px;
    height: 143px;
    margin-left: 41px;
    margin-top: -13px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 153px;
    height: 143px;
    border: 1px solid $border-card-color;
    margin-left: 41px;;
    margin-top: -13px;
  }
  @media screen and (max-width: 767px) {
    width: 109px;
    height: 101px;
    margin-left: 30px;
    margin-left: 29px;
    margin-top: -9px;
  }
}
.event-card-img {
  display: block;
  border-radius: 50px 0px;
  background-size: cover;
  object-fit: cover;
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 227px;
    left: 175px;
    top: 400px;
    z-index: 1;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 180px;
    height: 227px;
    left: 501px;
    top: 317px;
  }
  @media screen and (max-width: 767px) {
    width: 128px;
    height: 161px;
    left: 25px;
    top: 2706px;
  }
}
.event-card-group-name {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  color: $title-color;
  @media screen and (min-width: 1280px) {
    width: 180px;
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
     width: 180px;
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (max-width: 767px) {
     width: 128px;
    width: 128px;
    font-size: 14px;
    line-height: 1.21;
  }
}
.event-card-date {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  color: $primary-text-color;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 1.3;
  }
}
.event-card-concert-venue {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  color: $primary-text-color;
  overflow-wrap:break-word;
  @media screen and (min-width: 1280px) {
     width: 180px;
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
     width: 180px;
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (max-width: 767px) {
     width: 128px;
    font-size: 12px;
    line-height: 1.25;
  }
}
// .event-card-icon {
//   background-image: url("/images/vector.jpg");
//   width: 7px;
//   height: 10px;
// }

.event-card-icon {
  content: '';
  display: inline-block;
  // margin-right: 3px;
  margin-right: -4px;
  width: 6px;
  height: 9px;
  background-image: url(../images/location.svg);
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    width: 7px;
    height: 10px;
    margin-right: -5px;
  }
}

