.backdrop {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  overflow-y: scroll;

  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 1;
  pointer-events: initial;
}

.modal {
  position: absolute;
  z-index: 1050;
  top: 100%;
  left: 50%;
  overflow: auto;

  background: #fff2fd;
  border-radius: 150px 0px;
  color: $background-color;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 75px 17px 104px 12px;
  width: 272px;
  height: 915;

  @media screen and (min-width: 768px) {
    width: 595px;
    height: 831px;
    padding: 28px 17px 56px 50px;
    border-radius: 300px 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 942px;
    height: 1023px;
    padding: 62px 30px;
    line-height: 1.22;
  }
}

.modal__btn-close {
  position: absolute;
  z-index: 1051;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 30px;
  width: 17px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and(min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}

.modal__icon-close {
  fill: $accent-color;
  width: 17px;
  height: 17px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 1280px) {
    width: 25px;
    height: 25px;
  }

  &:hover,
  &:focus {
    fill: $title-color;
  }
}

.modal__main-pic {
  object-fit: cover;

  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    max-width: 233px;
    max-height: 416px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 360px;
    max-height: 641px;
  }
}

.modal__circle-pic {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 102px;
  height: 102px;

  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}

.modal__card {
  display: flex;
  margin-top: 18px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-top: 43px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 41px;
    margin-bottom: 45px;
  }
}

.modal__content {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 60px;
  }
}

.modal__title {
  margin: 0px 0px 5px;
  color: $title-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;

  @media screen and (min-width: 1280px) {
    margin: 0px 0px 7px;
    font-size: 24px;
  }
}

.modal__item {
  margin: 0px 0px 10px;
  font-size: 16px;

  @media screen and (min-width: 1280px) {
    margin: 0px 0px 20px;
    font-size: 18px;
  }
}

.modal__item-span {
  display: block;
  margin-bottom: 5px;
}

.modal__price {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.modal__price > .modal__item {
  margin-left: 13px;
}

.modal__icon-barcode {
  background-image: url('../images/ticket2.svg');
  display: inline-block;
  width: 24px;
  height: 16px;

  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.linkModal {
  color: $primary-text-color;
}

.modal__btn-buy {
  display: inline-block;

  width: 145px;
  height: 40px;
  padding: 9px 19px 11px;
  background: $accent-color;
  border-radius: 5px;
  border: none;
  color: $primary-text-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $title-color;
  }
}

.modal__btn-buy:first-of-type {
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 31px;
  }
}

.modal__text {
  text-transform: uppercase;
}

.modal__btn-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 3px;
  width: 230px;
  height: 40px;
  color: $accent-color;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 255px;
  }

  &:hover,
  &:focus {
    border: 1px solid $title-color;
  }
}

.modal__select {
  color: $title-color;
}