.container-footer {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 19px;
    margin-top: 80px;
  }
}

.info-footer {
  display: block;
  width: 252px;
  height: 34px;
  font-style: normal;
  font-weight: normal;
  color: $text-footer-color;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;

  @media screen and (min-width: 768px) {
    width: 521px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
.heart-footer {
  color: red;
}
