.pagination-list {
  display: flex;
  justify-content: center;
  margin: 60px auto;

  @media screen and (min-width: 1280px) {
    margin: 80px auto;
  }
  min-width: 233px;
  //   padding: 0;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.25;
  font-size: 16px;
  color: $primary-text-color;
  background: transparent;
  border: none;

  @media screen and (max-width: 767px) {
    line-height: 1.21;
    font-size: 14px;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    color: $title-color;
    border: 1px solid $title-color;
    border-radius: 10px 0px;
  }
  // активное одинаково с ховером
  //   &.pagination-item--active {
  //     color: $title-color;
  //     border: 1px solid $title-color;
  //     border-radius: 10px 0px;
  //   }
}
